$sidebar_base_bg: #fff;
$sidebar_item_color: #262626;
$sidebar_icon_bg: #bbc5d6;
$sidebar_icon_active_color: #fff;
$sidebar_icon_active_bg: $sidebar_item_color;
$sidebar_item_hover_bg: rgba(darken($sidebar_base_bg, 5%), 0.5);
$sidebar_dropdown_bg: #e3e3e3;

.v-sidebar-menu.vsm_white-theme {
  background-color: $sidebar_base_bg;
  .vsm--link {
    color: $sidebar_item_color;
    &_active {
      color: $sidebar_item_active_color;
      background-color: $sidebar_item_active_bg;
    }
    &_level-1 {
      &.vsm--link_active {
        box-shadow: 3px 0px 0px 0px $sidebar_primary_color inset;
        & .vsm--icon {
          color: $sidebar_icon_active_color;
          background-color: $sidebar_icon_active_bg;
        }
      }
      & .vsm--icon {
        background-color: $sidebar_icon_bg;
      }
    }
    &_hover {
      color: $sidebar_item_hover_color;
      background-color: $sidebar_item_hover_bg;
    }
    &_mobile {
      color: $sidebar_mobile_item_color;
    }
  }

  &.vsm_expanded {
    .vsm--link_level-1 {
      &.vsm--link_open {
        color: $sidebar_item_open_color;
        background-color: $sidebar_item_open_bg;
        & .vsm--icon {
          color: $sidebar_icon_open_color;
          background-color: $sidebar_icon_open_bg;
        }
      }
    }
  }

  &.vsm_collapsed {
    .vsm--link_level-1 {
      &.vsm--link_hover {
        .vsm--icon {
          color: $sidebar_mobile_icon_color;
          background-color: $sidebar_mobile_icon_bg;
        }
      }
    }
  }

  .vsm--icon {
    color: $sidebar_icon_color;
  }

  .vsm--dropdown {
    background-color: $sidebar_dropdown_bg;
    & .vsm--link {
      color: $sidebar_dropdown_color;
    }
    & .vsm--icon {
      color: $sidebar_dropdown_color;
    }
  }

  .vsm--mobile-bg {
    background-color: $sidebar_mobile_item_bg;
  }

  &.vsm_rtl {
    .vsm--link_level-1.vsm--link_active {
      box-shadow: -3px 0px 0px 0px $sidebar_primary_color inset;
    }
  }

  .vsm--header {
    color: rgba($sidebar_item_color, 0.7);
  }
  .vsm--badge_default {
    color: $sidebar_item_color;
    background-color: darken( $sidebar_base_bg, 5% );
  }
  .vsm--toggle-btn {
    color: $sidebar_item_color;
    background-color: darken( $sidebar_base_bg, 5% );
  }
}
